{% extends 'BibliothequeBundle::layout.html.twig' %}

{% block title %}Liste des autheurs{% endblock %}

{% block content %}

{% include 'BibliothequeBundle:Autheur:liste.html.twig' with {'autheurs' : autheurs}  %}

<p><a href="{{ path('myapp_autheur_ajouter') }}"><button type="button" class="btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un auteur</button></a></p>

{% endblock %}