#header > div
{
	background-image:url('../images/fond.png');
	color: #00C704;
}
#titre
{
	background-image:url('../images/fond.png');
	color: #00C704;
	margin-bottom: 3%;
}
div.jumbotron
{
    text-align: center;
}
#header > ul
{
	padding-left: 20%;
    padding-right: 20%;
}
#footer > div
{
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
}
#content
{
	margin-top: 3%;
	margin-right: 15%;
	margin-left: 15%;
	margin-bottom: 2%;
}
body > div.describe
{
	margin-left: 25%;
	margin-right: 25%;
}
body > div.describe > p
{
	text-align: justify;
}
body > div.describe > dl
{
	padding: 1%;
}
button.btn.btn-secondary
{
	color: white;
	background-color: #00C704;
}
button.btn.btn-secondary:hover
{
	text-decoration: none;
    background-color: #00AD03;
}
hr.style
{ 
	height: 30px;
	width: 100%;
	border-style: solid; 
	border-color: #8c8b8b; 
	border-width: 1px 0 0 0; 
	border-radius: 20px; 
} 
hr.style:before 
{ 
	display: block; 
	content: ""; 
	height: 30px; 
	margin-top: -31px; 
	border-style: solid; 
	border-color: #8c8b8b; 
	border-width: 0 0 1px 0; 
	border-radius: 20px; 
}
a.menu, a.menu:hover, a.menu:active, a.menu:visited, a.menu:focus
{
    color: black;
}
.panel-default>.panel-heading 
{
	color: white !important;
	background-color: #00AD03 !important;
}
a 
{
    color: #00AD03 !important;
}
a:hover
{
    color: #008703 !important;
}
.nav>li>a:hover, .nav>li>a:focus 
{
    text-decoration: none;
    background-color: #00AD03 !important;
    color: white !important;
}
#content > form > button 
{
	color: #00AD03;
    background-color: white;
}
.btn-default:hover {
    color: white !important;
    background-color: #00AD03 !important;
    border-color: #00AD03 !important;
}
#content > h1 
{
	color: #00C704;
    text-align: center;
}
#footer > div > div:nth-child(3),
#footer > div > div:nth-child(1) 
{
	background-color: #00AD03 !important;
	color: white;
	height: 125px;
}
#footer > div > div:nth-child(2)
{
	color: #00AD03;
	height: 125px;
}
#footer > div > div:nth-child(2) > p
{
	padding-top: 2%;
}
#sstitre
{
	color:	#00AD03;
}
@media (min-width: 768px) {
	dt.col-sm-3 
	{
	    width: 40% !important;
	}
}
@media (min-width: 768px) {
	dd.col-sm-9 
	{
	    width: 60% !important;
	}
}