{% extends 'BibliothequeBundle::layout.html.twig' %}

{% block content %}
<div class="panel panel-default">  
    <div class="panel-heading">LES AUTEURS LES PLUS RECENTS</div>
		{% render (controller("BibliothequeBundle:Autheur:top", {'max': 3})) %}
</div>

<div class="panel panel-default">
    <div class="panel-heading">LES DERNIERS LIVRES AJOUTES</div>
		{% render (controller("BibliothequeBundle:Livre:top", {'max': 3})) %}
</div>
{% endblock %}














